table{
    border-style: double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td{
    border-style: double;
    
    font-size: 0.5rem;
    color: black
}
h1{
    font-size: 2rem;
    color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: normal;
}
